<!-- here similar to home.html
we dont need to loop over post as only 1
then title not a link anymore
change anchor and paste class in h2
the content become object
we change attribute post to use object insteaf like object.author , object.tiltle, object.content and similar for date posted



-->

{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.post.author.profile.image.url }}" alt="">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <!-- change date to not display time, only fday -->
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title"> {{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
{% endblock content %}